.container {
  width: 640px;
  margin: 50px auto;
}

.id {
  text-align: left;
}

.status {
  color: var(--colors-interface-success);
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  height: 305px;
  overflow: auto;
  padding: 0;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-track {
  background: #2f2f37;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  width: 608px;
}

.name {
  flex-grow: 1;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
