.content {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.feed {
  width: 590px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 70vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  &::-webkit-scrollbar-thumb {
    background: #8585ad;
  }
}

.active {
  color: var(--text-primary-color);
}
