.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  position: relative;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  height: 48px;
  text-align: center;
}

.ingredientIcon {
  position: absolute;
  top: 0;
  right: 0;
}

.fake {
  display: none;
}
