.total {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.number {
  margin-right: 9.5px;
}