.main {
  width: 640px;
  height: 575px;
  margin: 120px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specification {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.number {
  margin-top: 8px;
}