.burgerConstructor {
  flex-basis: 600px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bun {
  margin-left: 24px;
}

.dopElement {
  max-height: calc(100vh - 520px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  min-height: 75px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  &::-webkit-scrollbar-thumb {
    background: #8585ad;
  }
}

.finalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 488px;
  margin-top: 40px;
}

.price {
  display: flex;
  margin-right: 40px;

  svg {
    width: 36px;
    height: 36px;
  }
}

:global(.constructor-element) {
  flex-basis: 100%;
  max-width: 100%;
  margin-right: 10px;
}

:global(.constructor-element__row) {
  justify-content: space-between;
}

:global(.constructor-element__text) {
  flex-grow: 1;
}

.emptyConstructor {
  margin-top: 50px;
  padding: 250px 100px;
  border: 1px solid #2f2f37;
  border-radius: 20px;
  text-align: center;

  &:focus-within {
    background-color: #1C1C21;
  }
}