.main {
  max-width: 600px;
  width: 100%;
  margin: 100px 0 0 40px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 350px;
  overflow-y: auto;
  margin: 10px 0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #2F2F37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    outline: 1px solid #8585AD;
  }
}

.edgeElement {
  max-width: 516px;
  margin-left: 37px;

  &:hover {
    cursor: pointer;
  }
}


.emptyConstructor {
  margin-top: 50px;
  padding: 250px 100px;
  border: 1px solid #2f2f37;
  border-radius: 20px;
  text-align: center;

  &:focus-within {
    background-color: #1C1C21;
  }
}

